
backend/solr-8.11.1/server/logs/solr-8983-console.log
backend/solr-8.11.1/server/logs/solr.log
backend/solr-8.11.1/server/logs/solr.log.1
backend/solr-8.11.1/server/logs/solr.log.10
backend/solr-8.11.1/server/logs/solr.log.2
backend/solr-8.11.1/server/logs/solr.log.3
backend/solr-8.11.1/server/logs/solr.log.4
backend/solr-8.11.1/server/logs/solr.log.5
backend/solr-8.11.1/server/logs/solr.log.6
backend/solr-8.11.1/server/logs/solr.log.7
backend/solr-8.11.1/server/logs/solr.log.8
backend/solr-8.11.1/server/logs/solr.log.9
backend/solr-8.11.1/server/logs/solr_gc.log
backend/solr-8.11.1/server/logs/solr_gc.log.8
backend/solr-8.11.1/server/tmp/start_*.properties